.cart_footer {
    background-color: rgba(234, 239, 242, 1);
    padding: 19px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;

    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    place-items: center;
    &__count {
        grid-column:3/4;
    }
    &__cost {
        grid-column: 4/5;

    }
}